header {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
padding-left: 1rem;
padding-right: 1rem;
background-color: gray;

}

ul {
    display: flex; 
    list-style: none;
}

a {
    padding-left: 1rem;
    text-decoration: none;
    color:var(--naranja);
}